[core]
excludesfile = .gitignore
autocrlf = input

[push]
default = simple

[pull]
rebase = true

[color]
branch = auto
diff = auto
interactive = auto
status = auto

[alias]
ci = commit
st = status -uall
lg = log --all --graph --pretty=format:'%C(dim yellow)%h%Creset -%C(bold yellow)%d%Creset %s %C(dim green)(%cr) %C(dim yellow)<%an>%Creset'
di = diff --color-words
dic = diff --color-words --cached

[init]
templatedir = ~/.config/git/templates

# local overrides
[include]
path = ~/.config/git/me
