[Desktop Entry]
Name=IntelliJ IDEA
Comment=Run IDEA
Exec=devbox idea
Icon=/usr/local/share/icons/idea.png
Terminal=false
Type=Application
NoDisplay=true
Actions=New
StartupNotify=true

[Desktop Action New]
Name=New IDEA window
Exec=devbox idea
OnlyShowIn=Unity
