[Desktop Entry]
Name=TMUX
Comment=Attach TMUX session in urxvt window
TryExec=tmux-terminal
Exec=tmux-terminal
Icon=urxvt_48x48.xpm
Terminal=false
Type=Application
NoDisplay=true
Actions=New;Devbox
Categories=Utility;TerminalEmulator;
StartupNotify=true

[Desktop Action New]
Name=New TMUX window
Exec=tmux-terminal
OnlyShowIn=Unity

[Desktop Action Devbox]
Name=Devbox Terminal
Comment=Attach TMUX session inside a Docker container
Exec=devbox tmux-terminal
StartupNotify=false
